@using Adf.Core.Util
@using Adf.FrameWork.Interface.Entity
@using Adf.FrameWork.Service
@using Adf.FrameWork.Service.HtmlHelperEx
@using CYQ.Data.Table
@{
    
    /*系统参数*/
    Layout = "../../../master/v2/master.select.list.cshtml";
    MDataRow curGlobalApp = ViewBag.GlobalApp ?? new MDataRow();
    MDataRow curGlobalUserLogin = ViewBag.GlobalUserLogin ?? new MDataRow();
    String curGlobalUserCode = ViewBag.GlobalUserCode ?? "";
    String curGlobalModuleCode = ViewBag.GlobalModuleCode ?? "";
    MDataTable curGlobalUserPermission = ViewBag.GlobalUserPermission ?? new MDataTable();
    MDataRow curGlobalModuleEntity = ViewBag.GlobalModuleEntity ?? new MDataRow();
    String curGlobalAdminResPath = ViewBag.GlobalAdminResPath ?? "";

    //页面参数    
    String curController = "/erp/FreightTemplate";

    //自定义参数

}



@section MainHeader
{
    <script>
        //列Column信息
        cfg_ColumnInfo = [
            [
                { type: 'checkbox', fixed: 'left' }
                , { field: 'freighttemplatename', width: 120, sort: true, title: '模板名称' }
               
               
             
            ]
        ];

        //数据Url
        cfg_DataUrl = "@curController/getlistdata";

    </script>
}

@section WhereInfo
{
    cfg_Where.freighttemplatename = $("#freighttemplatename").val();
}


@section MainQuery
{
   <div class="layui-inline">
        <label class="layui-form-label">模板名称:</label>
        <div class="layui-inline">
            @Html.LayUiInput("freighttemplatename","freighttemplatename")
         </div>
    </div>

}





